<digitalvitae-header-simple></digitalvitae-header-simple>

<div class="row d-flex justify-content-center my-5 py-5">
    <div class="col-11 col-md-3 pb-5 pb-md-0">
        <div class="fs-2 fw-bold">C'est là que tu entres en jeu</div>
        <div class="sd-undertitle">Rajoute ta définiton</div>
    </div>
    <div class="col-11 col-md-5 mb-5">
        <digitalvitae-add-word-form></digitalvitae-add-word-form>
    </div>
</div>


<digitalvitae-trending-words></digitalvitae-trending-words>

<digitalvitae-last-publishers></digitalvitae-last-publishers>
<digitalvitae-footer></digitalvitae-footer>