<div class="container-fluid sd-bg-dark-grey sd-color-white border-dark">
    <div class="row d-flex align-items-center py-5">
        <div
            class="col-12 col-md-8 d-flex justify-content-center justify-content-md-start align-items-center ps-md-5 mb-3 mb-md-0">
            <a href="/" class="text-decoration-none">
                <img src="../../../../../assets/images/logo-primary.png" alt="logo" class="footer-logo">
            </a>
            <h6 class="px-3 mb-0 ms-2 sd-color-white">LE STREET DICO</h6>
        </div>
    </div>
    <div class="row pb-5">
        <div
            class="col-12 col-md-8 d-none d-md-block d-flex justify-content-center justify-content-md-start align-items-center ps-md-5 mb-5 mb-md-0 pe-md-5">
            <form class="flex-grow-1">
                <div class="input-group">
                    <span class="sd-input-group-text">
                    </span>
                    <input type="text" class="sd-form-control footer-search-bar fw-bold" id="homeSearchBar"
                        placeholder="Oui, c'est ici ..">
                    <a class="d-flex align-items-center ms-3 sd-btn sd-btn-link sd-color-white">
                    </a>
                </div>
            </form>
        </div>

        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-0">
            <h6 class="fs-xs mb-0">DIGITAL VITAE © - TOUS DROITS RESERVES</h6>
        </div>
    </div>
</div>