<digitalvitae-header-simple></digitalvitae-header-simple>
<div class="container-fluid  sd-bg-dark-grey sd-definition-name-conatainer ">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="pb-5 pt-3">
                <h1 class="ff-body fs-5 fw-light sd-color-secondary">DEFINITION DU MOT "{{definitionInProgress?.name}}" </h1>
            </div>
        </div>
    </div>
</div>

<div style="height: 120vh;"></div>
<digitalvitae-footer></digitalvitae-footer>

