<div class="containter py-5 mb-5 sd-color-black">
    <div class="row d-flex justify-content-center ">
        <div class="col-11 d-flex flex-column align-items-center mb-5">
            <div class="fs-2 fw-bold">Toujours en train de scroller ? 🤔 </div>
            <div class="sd-undertitle">Le plus simple c'est de faire une recherche !</div>
        </div>

        <div class="col-10 col-md-6">
            <label for="homeSearchBar" class="form-label pb-2 "> <span class="fs-sm">Recherche un mot</span></label>
            <div class="input-group">
                <span class="sd-input-group-text"><i class="bi bi-search"></i></span>
                <input type="text" class="sd-form-control search-bar home-search-bar" id="homeSearchBar"
                    placeholder="Oui, c'est ici ..">
                <div class="d-flex align-items-center ms-3 sd-color-white">
                    <div class="sd-btn-link-primary fs-xl">
                        <i class="bi bi-arrow-right-circle-fill ms-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>