<digitalvitae-header-simple></digitalvitae-header-simple>

<div class="container d-flex flex-column justify-content-center">
    <div class="row d-flex flex-column justify-content-center">
        <div class="col-12 my-5 d-flex flex-column align-items-center">
            <div class="fw-bold mt-5">Tu cherches des mots, mais cette page n'existe pas ! 😮</div>
        </div>
        <div class="col-12 d-flex justify-content-center mb-5">
            <img src="../../../assets/images/openpeeps-leaning.png">
        </div>
        <div class="col-12 d-flex justify-content-center mt-5">
            <button class="sd-btn-primary" routerLink="/home">Vite ! Retour à l'accueil</button>
        </div>
    </div>
</div>
