.sd-btn{
    @extend .btn;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.sd-bg-primary{
    @extend .btn-primary;
    @extend .btn;
    background-color: $primary;
}

.sd-bg-outline{
    @extend .btn-outline;
    @extend .btn;
    border-color: white;
    color: white;
}
