.home-page-form-container{
    border-radius:15px;
    padding: 50px;
    box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.09);
}

.mat-form-field{
    font-family: $font-family-sans-serif-body !important;
}