.sd-form-control.search-bar{
    @extend .form-control;
    line-height: 2.2;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.sd-form-control.footer-search-bar{
    @extend .sd-form-control, .search-bar;
    line-height: 1.8;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    font-size: $font-size-sm;
}
.sd-form-control.home-search-bar{
    @extend .sd-form-control, .search-bar;
    border: white;
}
.sd-form-control.small-search-bar{
    @extend .sd-form-control, .search-bar;
    line-height: 1.8;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background-color: $gray-200
}

.sd-title{
    @extend .fs-6;
    @extend .ff-title;
    @extend .fw-extra-bold;
}

.sd-undertitle{
    font-size: $font-size-sm;
}

.secondary-banner{
    background-color: $dark-grey;
    z-index: 3;
    @media(max-width: map-get($map: $grid-breakpoints, $key: sm)){height: 10vh;};
}

.secondary-banner-logo{
    width: 30px;
}

.horizontal-separator{
    border-top: 1px $gray-300 solid ;
} 

.display-height{
    height: 80vh;
}