.sd-form-control.search-bar, .home-page-form-word{
    @extend .form-control;
    line-height: 2.2;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: 1px solid;
}
.sd-form-control.footer-search-bar{
    @extend .sd-form-control, .search-bar;
    line-height: 1.8;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    font-size: $font-size-sm;
    border: 1px solid black;
}
.sd-form-control.home-search-bar{
    @extend .sd-form-control, .search-bar;
}

.sd-input-group-text.home-search-bar-2{
    border: 1px solid black
}

.sd-form-control.home-search-bar-2{
    @extend .sd-form-control, .search-bar;
    border: 1px solid black
}
.sd-form-control.small-search-bar{
    @extend .sd-form-control, .search-bar;
    line-height: 1.8;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background-color: $gray-200;
    border: 1px solid black
}

.sd-title{
    @extend .fs-6;
    @extend .ff-title;
    @extend .fw-extra-bold;
}

.sd-undertitle{
    font-size: $font-size-sm;
}

.home-page-form-word{
    border: 1px black solid;
}

.secondary-banner{
    background-color: $splash-color;
    z-index: 3;
    @media(max-width: map-get($map: $grid-breakpoints, $key: sm)){height: 10vh;};
}

.secondary-banner-logo{
    width: 30px;
}

.horizontal-separator{
    border-top: 1px $gray-300 solid ;
} 

.display-height{
    height: 80vh;
}

.scrolling-tags{
  display: inline-block; /* Display items horizontally */
  padding: 10px; /* Add padding for better readability */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: scrolling-text 14s linear infinite;
}

.home-publisher-container{
    background-color: $light-grey;
}

.home-publisher-row{
    width: 100%;
    overflow-x: hidden; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
}

@keyframes scrolling-tags {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

