@font-face {
    font-family: 'Copperplate';
    src: url("../assets/fonts/copperplate/OPTICopperplate.otf")
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url("../assets/fonts/Montserrat/static/Montserrat-Bold.ttf")
}
@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('ttf') tech('variations'),
	     url('../assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('ttf-variations');
	font-weight: 100 1000;
}


$font-family-sans-serif-headers:      'Copperplate', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif-body:      'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family:      $font-family-sans-serif-headers;
$display-font-family:       $font-family-sans-serif-body;

body{
    font-family: 'Montserrat';
}

ul{
    list-style-type: none
}

.sd-color-white{
    color: white;
}
.sd-color-secondary{
    color: $secondary;
}
.sd-bg-black{
    background-color: black;
    font-weight: 100
}

.sd-btn{
    @extend .btn;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
}

.sd-btn-primary{
    @extend .btn-primary;
    @extend .sd-btn;
    background-color: $primary;
    border-color: $primary;
}

.sd-btn-outline{
    @extend .btn-outline-primary;
    @extend .sd-btn;
    border-color: white;
    color: white;
}
.sd-btn-link{
    @extend .btn-link;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Copperplate';
}

.sd-form-control.search-bar{
    @extend .form-control;
    line-height: 2.2;
    border: white;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
::placeholder{
    font-size: $font-size-sm;
}

.sd-input-group-text{
    @extend .input-group-text;
    background-color: white;
    border: white;
    border-radius: 10px;
}

.sd-form-control.search-bar:focus{
    box-shadow: inset -30px 0px 22px -16px #5045e269;
}


