@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Copperplate';
    src: url("../assets/fonts/copperplate/OPTICopperplate-Light.otf")
}

$font-family-sans-serif-headers: 'Copperplate', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif-body: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: $font-family-sans-serif-headers;
$display-font-family: $font-family-sans-serif-body;

body {
    font-family: 'Montserrat' !important;
    font-weight: $font-weight-light;
    background-color: $dark-grey;
    color: $dark-grey
}

ul {
    list-style-type: none
}

.sd-color-white {
    color: white;
}
.sd-color-black-grey {
    color: $dark-grey
}

.sd-color-secondary {
    color: $secondary;
}

.sd-bg-dark-grey {
    background-color: $dark-grey;
}
.sd-bg-white {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend .ff-title
}

.ff-title{
    font-family: 'Copperplate';
}
::placeholder {
    font-size: $font-size-sm;
    font-weight: $font-weight-light
}

.sd-input-group-text {
    @extend .input-group-text;
    background-color: white;
    border: white;
}

.sd-form-control.search-bar:focus {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


// additional bootstrap styles
.fs-sm {
    font-size: $font-size-sm;
}
.fs-lg {
    font-size: $font-size-lg;
}
.fs-xl {
    font-size: $font-size-xl;
}
.fs-xs {
    font-size: $font-size-xs;
}

.fw-extra-bold{
    font-weight: $font-weight-bolder;
}
.fw-bold{
    font-weight: $font-weight-semibold;
}
.fw-light{
    font-weight: $font-weight-light;
}
.overflow-hidden {
    overflow: hidden;
}

.overflow-wrap{
    overflow-wrap: normal;
}
.overflow-scroll{
    overflow: scroll;
}

.letter-spacing-lg{
    letter-spacing: 2px;
}
