.header-logo{
    width: 65px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-logo{
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.home-stripes {
    right: 100px !important;
    bottom: 0px !important;
}
.auth-stripes {
    left: 0px !important;
    bottom: -245px !important;
    @media(min-width: map-get($map: $grid-breakpoints, $key: xl)){
        left: 200px !important;
    };
    z-index: 1;
}

.auth-section-container{
    height: 100vh;
}
.auth-section{
    z-index: 0;
    @media(max-width: map-get($map: $grid-breakpoints, $key: sm)){height: 90vh;};
}

.section-header{
    background-color: $splash-color;
}
.sd-bg-waves{
    background-image: url("../assets/images/small-waves.gif");
    background-size: cover;
}

.sd-bg-waves-static{
   // background-color: #E7E6FB;
    background-image: url("../assets/images/small-waves.png");
    background-size: cover;
}

.sd-header{
    border-bottom: 1px black solid;
}