.header-logo{
    width: 65px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-logo{
    width: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.home-stripes {
    right: -84px !important;
    bottom: -90px !important;
}

.auth-section-container{
    height: 100vh;
}
.auth-section{
    @media(max-width: map-get($map: $grid-breakpoints, $key: sm)){height: 90vh;};
}

