$primary:       #5045E2;
$secondary:     #F8E661;
$dark-grey:     #333333;
$light-grey:    #FAFAFA;

$font-size-base: 1rem;
$font-size-sm: 0.8 * $font-size-base;
$font-size-xs: 0.5 * $font-size-base;
<<<<<<< HEAD
=======
$font-size-lg: 1.2 * $font-size-base;
$font-size-xl: 1.7 * $font-size-base;
>>>>>>> 584c3c5 (fixed frontend)



