.word-size{
    max-width: 250px;
    margin: 30px 30px;
}

.word{
    @extend .word-size;
    //height: 320px;
    background-color: $light-grey;
    box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.09);
    padding: 20px 30px;
    border-radius: 10px;
    @media(min-width: map-get($map: $grid-breakpoints, $key: sm)){
        margin: 30px 30px
    };
    margin: 30px 0
}

.word-sm{
    @extend .word;
    width: 200px;
    height: 280px;
    padding: 20px 26px;
    font-size: $font-size-sm;
}

.sd-underline {
    border-bottom: 4px solid black;
    width: 50%
}

.sd-underline-secondary{
    @extend .sd-underline;
    border-color: $secondary;
}

.word .name{
    margin-bottom: 15px;
}

.word .definition{
    font-size: $font-size-sm;
}
.word .example{
    font-size: $font-size-sm;
    font-style: italic;
}
.word .published-by{
    font-size: $font-size-sm;
    font-weight: bold;
}

.word .likes-dislikes{
    font-size: $font-size-sm;
}

.word .tags{
    font-size: $font-size-sm;
}