<div class="container-fluid sd-color-black sd-bg-splash">
    <header class="row d-flex align-items-center py-5">
        <div
            class="col-4 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center ps-md-5">
            <a routerLink="/" class="text-decoration-none">
                <img src="../../../../../assets/images/logo-primary.png" alt="logo" class="header-logo">
            </a>
            <h1 class="px-3 mb-0 ms-2 fw-light d-none d-md-block fs-4"> <span class="sd-btn-link-nude" routerLink="/">LE DICTIONNAIRE URBAIN </span></h1>
        </div>
        <ul
            class="col-8 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center mb-0 pe-md-5">
            <li class="d-flex align-items-center"><a class="mx-3 sd-btn-outline-dark" routerLink="/">Acceuil</a>
            </li>
        </ul>
    </header>
</div>