<digitalvitae-header-home></digitalvitae-header-home>
<div class="container-fluid sd-bg-white ps-4 ps-md-2 pt-5">
    <div class="row d-flex justify-content-center pb-3">
        <div class="col-11">
            <h3 class="mb-1 fw-bold mb-2">LES MOTS TENDANCE</h3>
            <div class="sd-undertitle">La/les définition(s) en tendance</div>
        </div>
    </div>

    <div class="row justify-content-center pb-2">
        <div class="col-11 pt-5 px-3 d-flex flex-wrap mb-3 justify-content-center justify-content-md-start">
            <div *ngFor="let word of trendingWords">
                <div class="word">
                    <div> <h5 class="name sd-underline-secondary">{{word.name}}</h5> </div>
                    <div class="definition">
                        <p>{{word.definition}}</p>
                    </div>
                    <div class="example py-2">
                        <span class="fs-underline">Exemple: </span> <span>{{word.example}}</span>
                    </div>
                    <div class="py-2 published-by">
                        <span>publié par: </span> <span class="sd-color-primary">anonyme.</span>
                    </div>
                    <div class="my-2 likes-dislikes">
                        <span class="me-3"><i class="bi bi-hand-thumbs-up me-2"></i>{{word.likesCount}}</span> <span class="me-3"></span><i class="bi bi-hand-thumbs-down me-2"></i>{{word.likesCount}}<span class=""></span>
                    </div>
                    <div class="mt-4 mb-2 tags ">
                        <span class="me-3" *ngFor="let tag of word.tags">
                            {{tag}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="d-flex w-100 justify-content-center align-items-center"> 
                <div class="sd-btn-primary word-size">Voir tout</div>
            </div>
        </div>
    </div>
</div>


<!-- Rajout d'un mot -->
<div class="container-fluid pb-2 sd-bg-white">
    <div class="row justify-content-center pb-1">
        <div class="col-11 d-flex flex-column justify-content-center align-items-center">
            <h3 class="mb-1 fw-bold mb-2">A TOI DE JOUER !</h3>
            <div class="sd-undertitle">Rajoute tes définitons !</div>
        </div>
    </div>
</div>

<div class="container-fluid pt-3 pb-5 sd-bg-white">
    <div class="row d-flex justify-content-center">
 
        <div class="col-11 sd-bg-light-grey home-page-form-container col-md-8">
            <h5 class="pb-3 ff-body">Rajoute tes définitions et rentre dans l'histoire !</h5>
            <div class="d-flex pb-5">
                <div class="sd-btn-outline-dark d-none d-md-block">Gérer mes mots</div>
            </div>

            <div class="row">
                <div class="col-5 d-none d-md-flex flex-column justify-content-center pe-md-5">
                    <div class="pb-5">
                        <span><i class="bi bi-check-circle-fill sd-color-primary fs-xl me-3"></i></span>
                        <span class="">Rentres dans le mouvement du moment</span>
                    </div>
                    <div class="pb-5">
                        <span><i class="bi bi-check-circle-fill sd-color-primary fs-xl me-3"></i></span>
                        <span class="">Recois un badge pour les definitions rajoutées</span>
                    </div>
                    <div class="pb-5">
                        <span><i class="bi bi-check-circle-fill sd-color-primary fs-xl me-3"></i></span>
                        <span class="">Partage tes réalisations sur les réseaux sociaux</span>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <form #definitionForm="ngForm">
                        <div class="form-group my-4">
                            <label for="homePageFormWord" class="form-label pb-2 fs-sm">Ton mot</label>
                            <input type="text" class="sd-form-control home-page-form-word" id="homePageFormWord"
                                placeholder="Bicrave.."
                                [(ngModel)]="definitionInProgress.name" name="name">
                        </div>
                        <div class="form-group my-4">
                            <label for="homePageFormDefinition" class="form-label pb-2 fs-sm">Ta définition</label>
                            <textarea class="sd-form-control home-page-form-word" type="text" id="homePageFormDefinition" rows="3"
                                placeholder="Fumer ..."
                                [(ngModel)]="definitionInProgress.definition" name="definition">
                                </textarea>
                        </div>
                        <div class="d-flex py-3">
                            <div class="sd-btn-primary d-none d-md-block" (click)="onSubmit()">Continuer | Se connecter</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Derniers contributeurs -->
<div class="container-fluid home-publisher-container pb-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 over d-flex justify-content-center align-items-center pt-5 pb-4">
            <h3 class="sd-color-primary">DERNIERS CONTRIBUTEURS</h3>
        </div>
        <div class="col-11 home-publisher-row d-flex flex-wrap justify-content-center align-items-center pb-5">
            <div *ngFor="let publisher of publishers" class="d-flex my-3 mx-2">
                <span class="home-publisher-tag">{{publisher}}</span>
            </div>
        </div>
    </div>
</div>

<digitalvitae-footer></digitalvitae-footer>
