<div class="container-fluid sd-bg-spash sd-color-black">
    <div class="row d-flex pb-2">
        <div
            class="col-12 d-flex justify-content-center mb-3">
            <a href="/" class="text-decoration-none">
                <img src="../../../../../assets/images/logo-primary.png" alt="logo" class="footer-logo">
            </a>
            <div class="d-flex flex-column ms-2 ">
                <div class="fs-6 fw-bold">LE DICTIONNAIRE URBAIN</div>
                <div class="fs-xs">THE GOOD CODE COMPANY © - TOUS DROITS RESERVES</div>
            </div>
        </div>
    </div>
</div>