<div class="container-fluid sd-color-black">
    <div class="row d-flex justify-content-center my-3 pb-5 pt-2">
        <div class="col-10 col-md-8">
            <div class="horizontal-separator"></div>
        </div>
    </div>
    <div class="row d-flex pb-4">
        <div class="col-12 d-flex justify-content-center mb-3">
            <a href="/" class="text-decoration-none">
                <img src="../../../../../assets/images/logo-primary.png" alt="logo" class="footer-logo">
            </a>
            <div class="d-flex flex-column ms-2 mb-4">
                <div class="fs-6 fw-bold">LE DICTIONNAIRE URBAIN</div>
                <div class="fs-xs">THE GOOD CODE COMPANY © - TOUS DROITS RESERVES</div>
            </div>
        </div>
    </div>
</div>