<digitalvitae-header-simple></digitalvitae-header-simple>
<div class="container-fluid sd-bg-black sd-color-white border border-dark">
    <div class="row">
        <div class="col-9 col-md-7 col-xl-7 ms-4">
            <form>
                <div class="my-4">
                    <label for="homeSearchBar" class="form-label fw-bold pb-2">Recherche un mot</label>
                    <div class="input-group">
                        <span class="sd-input-group-text"><mat-icon fontIcon="search"></mat-icon></span>
                        <input type="text" class="sd-form-control search-bar" id="homeSearchBar" placeholder="Oui, c'est ici ..">
                        <a class="d-flex align-items-center ms-3 sd-btn sd-btn-link sd-color-white"><mat-icon fontIcon="send"></mat-icon></a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>