<div class="section-header container-fluid">
    <digitalvitae-header-simple></digitalvitae-header-simple>
    <div class="row">
        <div class="col-6 col-md-3 col-lg-2 horizontal-separator header"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 pb-2 pt-4 sd-color-white">
            <h4 class="">{{title}}</h4>
        </div>
    </div>
</div>

<div class="container-fluid sd-bg-white">
    <div class="row py-3"></div>
    <div class="row justify-content-center pt-5">
        <div class="col-11">
            <div class="fs-4 fw-bold">Changer de pseudo</div>
            <div class="sd-undertitle mb-4">Nouvelle identité</div>
        </div>
    </div>
    <div class="row ms-5">
        <div class="col-10 col-md-5 col-lg-4">
            <form class="flex-grow-1">
                <div class="input-group">
                    <span class="sd-input-group-text"><i class="bi bi-search fs-sm"></i></span>
                    <input type="text" class="sd-form-control small-search-bar" id="homeSearchBar"
                        placeholder="Oui, c'est ici ..">
                    <a class="d-flex align-items-center ms-3 sd-btn sd-btn-link sd-color-white">
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="display-height sd-bg-white"></div>

<digitalvitae-footer></digitalvitae-footer>

