<div class="container-fluid position-relative overflow-hidden">
    <div class="row auth-section-container">
        <div class="col-12 col-sm-1 col-lg-3 secondary-banner d-flex justify-content-lg-center justify-content-start pt-sm-5 align-items-center align-items-sm-start">
            <div class="d-flex justify-content-center justify-content-lg-start align-items-center">
                <a href="/" class="text-decoration-none ms-lg-4">
                    <img src="../../../../../assets/images/logo-primary.png" alt="logo" class="secondary-banner-logo">
                </a>
                <h6 class="px-3 mb-0 ms-1 sd-color-white letter-spacing-lg fw-light d-sm-none d-lg-block">LE DICTIONNAIRE URBAIN</h6>
            </div>
        </div>
        <div class="col-12 col-sm-11 col-lg-9 auth-section sd-bg-white">
            <div class="row vh-100 align-items-center justify-content-center">
                <div class="col-11 col-sm-8 col-lg-5 d-flex flex-column justify-content-center">
                    <div class="fs-3 mb-1 fw-bold">Connecte toi ou <br>Inscrit toi</div>
                    <div class="sd-undertitle mb-5">pour valider ta contribution</div>

                    <div class="col-12">
                        <div id="g_id_onload" data-client_id="94361866527-b5mkconagm1apij1eak0881mhjai416c.apps.googleusercontent.com"
                            data-login_uri="http://localhost:8080/api/v1/users/user"
                            data-auto_prompt="false">
                        </div>
                        <div class="g_id_signin overflow-hidden" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
                            data-shape="rectangular" data-logo_alignment="left">
                        </div>
                    </div>
                </div>
                <div *ngIf="!isObjectEmpty(wordInProgress)" class="col-0 col-lg-3 d-flex d-none d-lg-block flex-column justify-content-center border-start ps-5">
                    <div class="fs-6 mb-4">Prévisualisation de ta <br>contribution</div>
                    <div class="word-sm">
                        <div class="name sd-underline-secondary">{{wordInProgress.name}}</div>
                        <div class="definition">{{wordInProgress.definition}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute auth-stripes d-none d-md-block">
        <img src="../../../../../assets/images/grey-stripes.png" alt="decoration">
    </div>
</div>

