
<digitalvitae-header-simple></digitalvitae-header-simple>
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="ff-body fw-bold fs-2 mt-5">Fais une recherche ! </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 col-md-8">
            <digitalvitae-search-bar></digitalvitae-search-bar>
        </div>
    </div>
</div>

<digitalvitae-trending-words></digitalvitae-trending-words>
<digitalvitae-footer></digitalvitae-footer>