<div class="container-fluid sd-bg-black sd-color-white border border-dark">
    <div class="row">
        <div class="col-12">
            <header class="d-flex flex-wrap justify-content-center align-items-center py-5">
                <div class="d-flex align-items-center ms-4 mb-3 mb-md-0 me-md-auto">
                    <a href="/" class="text-decoration-none">
                        <img src="../../../../../assets/images/logo-primary.png" alt="logo" class="header-logo">
                    </a>
                    <h4 class="px-3 mb-0 ms-2 sd-color-white">LE STREET DICO</h4>
                </div>
                <ul class="d-flex align-items-center mb-0 mt-4 mt-md-0 me-5">
                    <li class="d-flex align-items-center"><a href="#" class="mx-3 sd-btn-primary">Ajouter une définition</a></li>
                    <li class="d-flex align-items-center"><a href="#" class="mx-3 sd-btn-outline">Voir les mots</a></li>
                </ul>
            </header>
        </div>
    </div>
   
</div>

