<!-- Derniers contributeurs -->
<div class="container-fluid mt-5 pb-4 sd-color-black">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-5 pb-4">
            <div class="sd-color-black fs-2 fw-bold ff-body">Les derniers contributeurs</div>
            <div class="sd-undertitle">Ceux qui font la légende du dictionnaire urbain</div>
        </div>
        <div class="col-11 home-publisher-row d-flex flex-wrap justify-content-center align-items-center pb-5">
            <div *ngFor="let publisher of publishersNameList" class="d-flex my-3 mx-2">
                <span class="home-publisher-tag">{{publisher}}</span>
            </div>
        </div>
    </div>
</div>
