<digitalvitae-header-simple></digitalvitae-header-simple>

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <h1 *ngIf="isThereResult" class="ff-body fw-bold fs-2 mt-5">Définitions pour le mot <span class="sd-color-primary">{{title}}</span> </h1>
            <h1 *ngIf="!isThereResult" class="ff-body fw-bold fs-2 mt-5">Oh oh ... </h1>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-center justify-content-md-start">
            <div *ngFor="let activeWord of activeWords">
                <digitalvitae-word [word]="activeWord"></digitalvitae-word>
            </div>
            <div *ngIf="isThereResult" class="word d-flex flex-column align-items-center">
                <div class="fw-bold mt-3 mb-2 mx-2 text-center">Tu ne trouves pas la définition parfaite ?</div>
                <div>Rajoute la !</div>

                <div class="m-5 fw-bold fs-huge sd-color-primary"> ? </div>

                <button class="sd-btn-outline-dark mb-3" routerLink="/add-word">Rajouter une définition</button>
            </div>

            <div *ngIf="!isThereResult" class="word d-flex flex-column align-items-center">
                <div class="fw-bold mt-3 mb-2 mx-2 text-center">C'est vide par ici ...</div>
                <div class="text-center">C'est toi qu'on attendais, rajoutes ta définition !</div>

                <div class="m-5 fw-bold fs-huge sd-color-primary"> ? </div>

                <button class="sd-btn-outline-dark mb-3" routerLink="/add-word">Rajouter une définition</button>
            </div>
        </div>
    </div>
</div>


<div class="sd-bg-waves"> 
    <digitalvitae-secondary-search-field></digitalvitae-secondary-search-field>
</div>


<digitalvitae-last-publishers></digitalvitae-last-publishers>
<digitalvitae-footer></digitalvitae-footer>

